.profile__info-button-edit {
  margin: 0;
  padding: 0;
  max-width: 24px;
  max-height: 24px;
  outline: 1px solid #ffffff;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  transition: opacity 0.2s linear;
}
.profile__info-button-edit:hover {
  opacity: 0.6;
}
@media screen and (max-width: 880px) {
  .profile__info-button-edit {
    max-width: 18px;
    max-height: 18px;
  }
}
