.profile__info {
  display: flex;
  max-width: 336px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (max-width: 880px) {
  .profile__info {
    margin-top: 26px;
    max-width: 282px;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 0 10px;
  }
}
